<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.itwill.mapper.CoinMapper">

	<!-- 코인을 현금으로 환전 신청 -->
	<insert id="insertCoin">
		<selectKey resultType="int" keyProperty="idx" order="BEFORE">
			select coin_idx.nextval from dual
		</selectKey>
		insert into coin values(#{idx},#{memberId},#{exCoin},1)
<!-- 		insert into coin(idx, member_id, ex_coin, status) values(#{num}, #{memberId), #{exCoin}, 1) -->
	</insert>
	
	<update id=""></update>
	
	<!-- 해당 회원의 코인량 검색 -->
	<select id="selectCoin" resultType="Coin">
		select * from coin where member_id=#{memberId}
	</select>
	
	<resultMap type="CoinMemberJoin" id="CoinMemberJoinResultMap">
		<association property="coin" javaType="Coin">
			<id column="idx" property="idx"/>
			<result column="ex_coin" property="exCoin"/>
			<result column="status" property="status"/>
		</association>
		<association property="member" javaType="Member">
			<id column="id" property="id"/>
			<result column="name" property="name"/>
			<result column="account" property="account"/>
		</association>
	</resultMap>
		
	<select id="selectCoinList" resultMap="CoinMemberJoinResultMap">
		select coin.idx idx, member.id id, member.name name, member.account account, coin.ex_coin ex_coin, coin.status status from coin inner join member on coin.member_id = member.id
	</select>
	
	<select id="selectCoinListPager" resultMap="CoinMemberJoinResultMap">
		select * from (select rownum rn, board.* from 
		(select coin.idx idx, member.id id, member.name name, member.account account, coin.ex_coin ex_coin, coin.status status from coin inner join member on coin.member_id = member.id order by idx desc) board) 
		where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="selectCoinCount" resultType="int">
		select count(*) from coin 
	</select>
	
	<update id="updateCoinStatus">
		update coin set status=#{status} where idx=#{idx}
	</update>
</mapper>