<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.itwill.mapper.MemberMapper">
	<insert id="insertMember">
		insert into member values(#{id},#{name},#{nicname},#{password},#{phone},#{account},#{payPw},0,1)
	</insert>
	
	<update id="updateMember">
		update member 
		<set>
			<if test="password!=null and password!=''">
				password=#{password},
			</if>
			<if test="name!=null and name!=''">
				name=#{name},
			</if>
			<if test="status!=null and status!='0'">
				status=#{status}
			</if>
		</set> 
		where id=#{id}
	</update>
	
	<delete id="deleteMember">
		delete from Member where id=#{id}
	</delete>
	
	<select id="selectMember" resultType="Member">
		select * from Member where id=#{id}
	</select>
	
	<select id="selectMemberList" resultType="Member">
		select * from Member order by id 
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="findId" resultType="Member">
		select * from Member where name=#{name} and phone=#{phone}
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPassword" resultType="Member">
		select * from Member where id=#{id} and name=#{name} and phone=#{phone}
	</select>
	
	
	<!-- 마이페이지 결제비밀번호 수정 -->
	<update id="mypagePaypwUpdate">
		update member set pay_pw=#{payPw} where id=#{id}
	</update>
	
	<!-- 마이페이지 다른 계좌로 변경 -->
	<update id="mypageAddAccount">
		update member set account=#{account} where id=#{id}
	</update>
	
	
</mapper>